Debauchee/
GIMP/
JetBrains/
Kvantum/
Mailspring/
Mousepad/
Nextcloud/
Pinta/
QtProject.conf
TabNine/
Thunar/
Trolltech.conf
"Unknown Organization/"
VirtualBox/
appimagelauncher.cfg
autorandr/
autostart/
balena-etcher/
blender/
browsh/
btop/
cef_user_data/
chromium/
composer/
conky-manager.json
dconf/
discord/
evolution/
falkon/
figma-linux/
filezilla/
flameshot/
fontconfig/
goa-1.0/
gtk-2.0/
gtk-3.0/
htop/
kdeconnect/
libinput-gestures.conf
libreoffice/
lxterminal/
manjaro/
marktext/
mimeapps.list
nautilus/
neofetch/
nitrogen/
nvim
pamac/
pavucontrol.ini
picom/
protonvpn/
pulse/
qalculate/
qt5ct/
ristretto/
solaar/
spicetify/
spotify/
sqlitebrowser/
sublime-text/
systemd/
texlive/
texstudio/
unity3d/
unityhub/
user-dirs.dirs
user-dirs.locale
vlc/
xfce4/
yelp/
zoomus.conf
